.customize{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;

    button{
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    }
    >div{
        display: flex;
        gap: 0.5rem;
    }

}