#header{
    width: 100%;
    display: flex;
    justify-content: space-between;

   h2{
    font-family: system-ui,'Open Sans', sans-serif;
    user-select: none;
   }
    >div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin:  0.3rem 2rem;

    >a{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        align-items: center;
        cursor: pointer;
    }
     }
}

.svgdark{
    color: #fff;
    background-color:#0b0c0f;
    height: 2.5rem;
    width: 2.5rem;
}
.svglight{
    color: #3846b1;
    // color: #0b0c0f;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #dadbdc;
}


.logoContainer{
    display: flex;
    align-items: center;
    font-size: 2rem;
    >img{
        width: 100px;
        height: 100px;
    }
}